@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .sideBar {
  flex: 2;
}
.rightBar {
  flex: 8;
} */
.bgImgFixed {
  background-image: url("../public/image//img.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* .rightBar {
  background-image: url("https://img.freepik.com/free-vector/detailed-hand-painted-pink-watercolour-background_1048-17039.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* .secA {
  background-image: url("../public/image/bgOne.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.SecBSlider {
  background-image: url("../public/image/bgTwo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.5; */
  /* background: transparent; */
}
.Why {
  background-image: url("../public/image/bgThree.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.5; */
  /* background: transparent; */
}

.About {
  background-image: url("../public/image/bgFour.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.5; */
  /* background: transparent; */
}
