@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/linear-sight-362821.appspot.com/o/wellcome%2FbodyBg.jpg?alt=media&token=7f3b6469-323e-467a-bacb-1ee08055a556");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
